//body
//  padding: 50px
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

table {
  width: auto !important;
}

.item-count
  //color: white
  display: inline
  font-weight: bold
  //position: relative
  width: 100%
  //text-shadow:
  //  -1px -1px 0 #000,
  //  1px -1px 0 #000,
  //  -1px 1px 0 #000,
  //  1px 1px 0 #000;

  img
    display: inline

  div
    display: inline
    //position absolute
    //top 5px
    //left 0
    width 100%

.r-cat
  width 50px
  float: right

.ingredients
  div
    padding-top: 0.25em
    display: block
    img
      margin auto
      background #a9aaac
      padding 0.2em
.popover
  max-width: 300px
  width: 300px

.tech-img
  width: 32px

.tech-ingd
  display inline-block
  padding: 0.25em
  background #a9aaac

.cat-resource-color
  display: inline-block
  width: 1.5em
  height: 1.5em
  vertical-align: text-bottom
